
<!-- Material form login -->
<!-- <div class="col-md-offset-2 text-center">
<div class="card">

  <h5 class="card-header info-color white-text text-center py-4">
    <strong>Login</strong>
  </h5>

  
  <div class="card-body px-lg-5 pt-0">

  
    <form class="text-center" autocomplete="off" style="color: #757575;" [formGroup]="form" (ngSubmit)="signInUser()">

      <div *ngIf="formErrors" class="alert alert-danger">
        <strong>
          <span class="glyphicon glyphicon-warning-sign"></span>
          Ocorreu um erro ao tentar entrar no sistema.
        </strong>
        <ul>
          <li *ngFor="let error of formErrors">{{ error }}</li>
        </ul>
      </div>

  
      <div class="md-form has-feedback" [ngClass]="formUtils.fieldClassForErrorOrSuccess('email')">
        <input type="email" id="email" formControlName="email" class="form-control">
        <label for="email">E-mail</label>

        <span class="glyphicon form-control-feedback" [ngClass]="formUtils.iconClassForErrorOrSuccess('email')"></span>
        <div *ngIf="formUtils.showFieldError('email')" class="text-danger">
          <div *ngIf="form.get('email').errors.required">o email é obrigatório</div>
          <div *ngIf="form.get('email').errors.email">o email digitado é inválido</div>
        </div>
      </div>

  
      <div class="md-form has-feedback" [ngClass]="formUtils.fieldClassForErrorOrSuccess('password')">
        <input type="password" class="form-control" id="password" formControlName="password">
        <label for="password">Password</label>
        <span class="glyphicon form-control-feedback" [ngClass]="formUtils.iconClassForErrorOrSuccess('password')"></span>
            
        <div *ngIf="formUtils.showFieldError('password')" class="text-danger">
           <div *ngIf="form.get('password').errors.required">a senha é obrigatória</div>
        </div>
      </div>

      <div class="d-flex justify-content-around">
          <div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="materialLoginFormRemember">
              <label class="form-check-label" for="materialLoginFormRemember">Lembrar me</label>
            </div>
          </div>
          <div>
            <a href="">Esqueci a senha?</a>
          </div>
      </div>
      
      <button [disabled]="form.invalid || submitted" class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Fazer login</button>
      
      <p>Se você não possui uma conta, 
        <a routerLink="/sign-up">clique aqui</a>
      </p>

    </form>
  </div>
</div>

</div> -->
<!-- Material form login -->


<br />
<h1 class="page-header text-center">Faça o seu Login</h1>

<div class="jumbotron">
  <div *ngIf="formErrors" class="alert alert-danger">
    <strong>
      <span class="glyphicon glyphicon-warning-sign"></span>
      Ocorreu um erro ao tentar entrar no sistema.
    </strong>

    <ul>
      <li *ngFor="let error of formErrors">{{ error }}</li>
    </ul>
  </div>


  <form class="form-horizontal" [formGroup]="form" (ngSubmit)="signInUser()">
  
    <div class="form-group has-feedback" [ngClass]="formUtils.fieldClassForErrorOrSuccess('email')">
      <label for="email" class="col-sm-4 control-label">Email</label>
      <div class="col-sm-4">
        <input type="email" class="form-control" id="email" formControlName="email">
        <span class="glyphicon form-control-feedback" [ngClass]="formUtils.iconClassForErrorOrSuccess('email')"></span>
        
        <div *ngIf="formUtils.showFieldError('email')" class="text-danger">
          <div *ngIf="form.get('email').errors.required">o email é obrigatório</div>
          <div *ngIf="form.get('email').errors.email">o email digitado é inválido</div>
        </div>
      </div>
    </div>
  
    <div class="form-group has-feedback" [ngClass]="formUtils.fieldClassForErrorOrSuccess('password')">
      <label for="password" class="col-sm-4 control-label">Senha</label>
      <div class="col-sm-4">
        <input type="password" class="form-control" id="password" formControlName="password">
        <span class="glyphicon form-control-feedback" [ngClass]="formUtils.iconClassForErrorOrSuccess('password')"></span>
        
        <div *ngIf="formUtils.showFieldError('password')" class="text-danger">
          <div *ngIf="form.get('password').errors.required">a senha é obrigatória</div>
        </div>
      </div>
    </div>
  
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8">
        <button [disabled]="form.invalid || submitted" type="submit" class="btn btn-primary">Fazer Login</button>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8">
        Se você não possui uma conta, 
        <a routerLink="/sign-up">clique aqui</a>
      </div>
    </div>
  </form>
</div>
