<!--Navbar-->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark indigo darken-4 lighten-1">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="#">
    <img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" height="30" alt="mdb logo">
  </a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tasks">Tarefas</a>
      </li>
      <li class="nav-item">
        <task-search></task-search>
      </li>
      
      <!-- Dropdown -->
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
    </ul>
    
     <form class="form-inline">
      <div class="md-form my-0">
      <button class="btn btn-danger" (click)="signOutUser()">
        <span class="glyphicon glyphicon-log-out"></span>
        Sair
      </button>
    </div>
    </form>
  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->